ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.contacts:link    {color:black;}
.contacts:visited {color:black;}
.contacts:hover   {color:blue;}
.contacts:active  {color:red;}
